{% extends 'app/base.html' %}
{% block title %}About{% endblock %}
{% block content %}
<div class="container">
  <div class="jumbotron mt-4 shadow-lg">
    <h3>Welcome to AboutPage</h3>
  </div>
  <div class="row mx-2">
      {% for x in c %}
      <div class="col col-md-3">
      	<div class="card shawdow-lg my-2">
      		<img src="{{x.rsimg.url}}" class="card-img-top" height="120px">
      		<div class="car-body">
      			<tr>
      				<td><span style="font-size:30px">{{x.rname}}</span></td>
      				<td><span class="badge badge-primary" style="font-size:20px">{{x.address}}</span></td>
      			</tr>
               <div class="row">
               	<div class="col">
                    <h6>Number of Items:{{x.nitems}}</h6>
                </div>
                <div class="col">
                    <h6>Timmings:{{x.timming}}</h6>
                </div>
               </div>
            </div>
        </div>
      </div>
      {% endfor %}
      
    </div>
      
  

</div>
{% endblock %}
